body{
  background-color: black;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;

  a{
    outline: none;
    color: #009688;
    text-decoration: none;
  }
}

.headercenter{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.logo{
  width: 250px;
  height: 80px;
  background-color: none;
}
.bloc1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 80px;
  background-color: none;
}
.bloc2{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 80px;
  background-color: none;
}

.circle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: none;
  border-radius: 50%;
}

.toggle-btn { 
  background: none;
  border: none;
  cursor: pointer;
}

.chevron {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 30px;
}

.line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 3px;
  background-color: white;
  transform-origin: center;
  transition: all 0.3s ease;
}

/* CROIX par défaut (×) */
.line1 {
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
.line2 {
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
}

/* CHEVRON quand ouvert (<) */
button.toggle-btn.open .line1 {
  left: 40%;
  transform: rotate(-45deg);

}
button.toggle-btn.open .line2 {
  left: 100%;
  transform: rotate(45deg);
}
button.toggle-btn.open{
  transform: translateX(25%) translateY(-100%) rotate(90deg);
}

#menu {
  margin-top: 100px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 10px;
}
#menu ul{
  list-style: none;
  margin: 0;
  padding-left: 15px;
  border-left: solid 2px #d9d9d9;
  position: relative;
  overflow: hidden;
}
#menu.collapsed li{
  transform: translateX(-150%);
  opacity: 0;
}
#menu li {
  margin-bottom: 5px;
  padding: 5px;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

canvas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: -1;
}

.home{
  display: flex;
  justify-content: space-between;
  margin-top: 1080px; /*Provisoire*/
  padding: 0 40px;
}
@media (max-width: 1200px) {
  .home{
    flex-direction: column;
    gap: 50px;
  }
  .asidebloc{
    display: flex;
    align-items: end;
  }
  .homeAside{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.homeArticle{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.hometopbloc{
  position: relative;
  display: flex;
  gap: 10px;
  width: max-content;
}
.hometopbloc::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: linear-gradient(to right, #009688, #4CAF50);
}

.homebloc1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 100px;
  margin-bottom: 10px;
  h1{
    font-size: 3em;
    color: #009688;
  }
}
.homebloc2{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 100px;
  margin-bottom: 10px;
  h1{
    font-size: 3em;
    color: #4CAF50;
    filter: contrast(0.4);
  }
}

.homelargebloc{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 600px;
}

.asidebloc{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-right: solid #009688;
  padding: 0 10px;
  margin-top: 200px; /*Provisoire*/
}

.asidebloc1{
  width: 500px;
  height: 150px;
  background-color: #d9d9d9;
}

.game{
  margin-top: 1080px; /*Provisoire*/
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.gameArticle{
  display: flex;
  flex-direction: column;
  gap: 100px;
  border-left: solid #009688;
  padding: 0 10px;
}
.gamebloc1{
  display: flex;
  align-items: center;
  width: 500px;
  height: 250px;
  h1{
    margin-left: 10px;
    color: #9C27B0;
    font-size: 4.5em;
  }
}

.gameAside{
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameAsideBloc{
  display: flex;
  flex-direction: column;
  border-bottom: solid #009688;
  gap: 10px;
  padding-bottom: 10px;
  align-items: center; 
}
.gameAsideBloc1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 100px;
  h1{
    color: #009688;
    font-size: 3em;
  }
}
.gameAsideBloc2{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 100px;
  h1{
    color: #4CAF50;
    filter: contrast(0.4);
    font-size: 3em;
  }
}

.news{
  margin-top: 1080px; /*Provisoire*/
  padding: 0 40px;
}

.newArticle{
  width: max-content;
}
.newsBloc1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 100px;
  margin: 0 auto;
  margin-top: 150px;
  h1{
    font-size: 3em;
    color: #009688;
  }
}

.footerBloc2{
  display: flex;
  align-items: center;
  width: 250px;
  height: 80px;
}

.footerBloc3{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin-top: 50px;
  margin-left: 30px;
}

.footerBloc4{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 100px;
  h1{
    font-size: 2em;
    color: #009688;
  }
}
.footerCase{
  margin-top: 600px;
  display: flex;
  align-items: start;
  gap: 50px;
}

.bottomCase {
  margin-top: 50px;
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 10px;
}

.bottomCircleCase{
  width: 263px;
  display: flex;
  justify-content: space-between;
}
.bottomBloc1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 263px;
  height: 93px;
  h1{
    color: #009688;
    font-size: 2em;
  }
}
.bottomCircle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

footer{
  padding: 0 40px;
}